/* fonts */

body {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	color: #313737;
}

h1 {
	font-size: 90px;
	font-weight: 900;
	text-align: center;
}

h2 {
	font-size: 32px;
	font-weight: 900;
	line-height: 1.25;
	margin: 0;
}

h3 {
	font-size: 32px;
	font-weight: 100;
	line-height: 1.25;
	margin: 0;
}

h4 {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}

h5 {
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
}

p {
	font-size: 16px;
	font-weight: 100;
	line-height: 2;
	margin: 0;
}


/* links */

a {
	outline: none;
	text-decoration: none;
}

a:link {
	color: #313737;
}

a:visited {
	color: #313737;
}

a:hover {    
  color: rgb(49 55 55 / 50%);
}


/* grid */

* {
 	box-sizing: border-box;
}

.grid-container {
	width: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: minmax(100px, 1fr);
}


/* top-nav */

.top-nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-self: center;
	margin: 0 15px;
}

.horizontal-line {
	border: 0;
	width: 100%;
	border-bottom: 1px solid #c1c3c3;
}


/* hero */

.hero {
	grid-column: 1;
	text-align: center;
}

.hero-laptop {
	padding: 60px;
	width: 100%;
	z-index: 1;
}

.hero-wrapper {
	position: relative;
	z-index: 2;
}

.hero-head {
	padding-top: 140px;
}

.hero-bar img {
    max-width: 100%;
    padding: 0 30px 0 30px;
}

.hero-laptop img {
	max-width: 100%;
}


/* intro */

.intro {
	grid-column: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background: rgba(243,156,107,0.125);
}

.intro-copy {
	max-width: 500px;
	margin: auto;
	padding: 30px;
}

.intro img {
	width: 100%;
}


/* nutrition */

.nutri-grid {
	grid-column: 1;
	display: grid;
	max-width: 1000px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, max-content));
	grid-gap: 30px;
	margin: auto;
}

.pizza-shape {
	grid-row: 1 / 3;
	grid-column: 3;
	align-self: center;
	display: none;
}

.bowl-shape {
	grid-column: 1 / 3;
	grid-row: 2;
	max-width: 635px;
	align-self: center;
	display: none;
}

.nutri-copyblock {
	grid-column: 1 / -1;
	grid-row: 3;
	max-width: 540px;
	justify-self: center;
	padding: 15px;
}

/* nutrition badges */

.nutri-badges {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 5px;
	justify-items: center;
	margin: 30px 0 0 0;
}

.nutri-badges img {
	width: 100%;
}

/* nutrition number grid */

.nutri-number-grid {
	grid-column: 1 / -1;
	text-align: center;
	margin: 120px 0 0 0;
}

.fifteen-g {
	grid-column: 1;
	grid-row: 1;
	font-size: 120px;
	font-weight: 900;
}

.protein {
	grid-column: 1;
	grid-row: 2;
	font-size: 50px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

.nine {
	grid-column: 2;
	grid-row: 1 / 3;
	align-self: end;
	justify-self: center;
	font-size: 200px;
	font-weight: 900;
	line-height: .75;
}

.essentials {
	grid-column: 2;
	grid-row: 3;
	font-size: 40px;
	font-weight: 900;
}

.aminos {
	grid-column: 2;
	grid-row: 4;
	font-size: 30px;
	font-weight: 900;
}

.thirty-three {
	grid-column: 1;
	grid-row: 5 / 7;
	font-size: 180px;
	font-weight: 900;
	line-height: .75;
}

.vitamins {
	grid-column: 2;
	grid-row: 5;
	align-self: end;
	font-size: 40px;
	font-weight: 900;
}

.minerals {
	grid-column: 2;
	grid-row: 6;
	font-size: 30px;
	font-weight: 900;
}


/* testimonials */

.testimonial-logos {
	grid-column: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	background: rgba(243,156,107,0.125);
	margin-top: 120px;
	height: 250px;
}

.testimonial-quotes {
	grid-column: 1;
	text-align: center;
	height: 150px;
	background: rgba(243,156,107,0.125);
	padding: 30px;
	margin-bottom: 120px;
}


/* icons */

.icons {
	grid-column: 1;
}
.icons-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
	align-items: center;
	grid-gap: 5px;
	margin: 10px;
}

.icons-grid img {
	width: 100%;
}

.icons-grid div:nth-child(1) {
	grid-column: 1;
	grid-row: 1;
}

.icons-grid div:nth-child(5) {
	grid-column: 1;
	grid-row: 1;
}

.icons-grid div:nth-child(2) {
	grid-column: 2;
	grid-row: 1;
}

.icons-grid div:nth-child(6) {
	grid-column: 2;
	grid-row: 1;
}

.icons-grid div:nth-child(3) {
	grid-column: 3;
	grid-row: 1;
}

.icons-grid div:nth-child(7) {
	grid-column: 3;
	grid-row: 1;
}

.icons-grid div:nth-child(4) {
	grid-column: 4;
	grid-row: 1;
}

.icons-grid div:nth-child(8) {
	grid-column: 4;
	grid-row: 1;
}


/* buzz */

.buzz {
	grid-column: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background: rgba(243,156,107,0.125);
	margin-top: 120px;
}

.buzz-copy {
	max-width: 500px;
	margin: auto;
	padding: 30px;
}

.buzz img {
	width: 100%;
}

.buzz-copy img {
	max-width: 135px;
}


/* subscribe */

.subscribe-head {
	grid-column: 1;
	text-align: center;
	margin: 0 15px;
	margin-top: 120px;
}

.subscribe-form-btn {
	grid-column: 1;
	text-align: center;
}

.subscribe-form-btn {
	justify-self: center;
	margin: 30px;
}


/* input and button */

.subscribe-form-btn {
	display: flex;
	width: 75%;
}

.input {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 0;
    height: 50px;
    width: 65%;
    border: 1px solid #313737;
    padding-left: 15px;
    position: relative;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
	color: #313737;
    font-size: 16px;
	font-weight: 100; 
}

.btn {
	border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
    height: 50px;
    width: 35%;
    border: 1px solid #313737;
    background-color: #313737;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
}


/* product shots */

.small-bars {
	grid-column: 1;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	margin: 15px;
	margin-bottom: 120px;
}

.small-bars img {
	max-width: 100%;
	padding: 15px;
}


/* share */

.share-head {
	grid-column: 1;
	text-align: center;
	margin: 0px 30px;
}

.share-subhead {
	grid-column: 1;
	text-align: center;
	margin: 30px;
}

.share-pix {
	grid-column: 1;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	grid-gap: 15px;
	justify-items: center;
}

.share-pix img {
	max-width: 100%;
}


/* endblock */

.endblock {
	grid-column: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: #F39C6B;
	height: 240px;
	align-items: center;
	color: #FFFFFF;
	margin-top: 120px;
}

.endblock a {
	color: #FFFFFF;
}

.endblock-social a {
	padding: 5px;
}

.endblock a:hover {    
  color: #313737;
}


/* media queries */

@media(min-width: 1024px) {
	.pizza-shape {
		display: block;
	}
	.bowl-shape {
		display: block;
	}
	.nutri-number-grid {
		grid-column: 1;
		justify-self: center;
		display: grid;
		grid-template-columns: repeat(2, max-content);
		grid-template-rows: repeat(6, max-content);
		max-width: 445px;
	}
	.nutri-copyblock {
		grid-column: 2 / 4;
		grid-row: 3;
		max-width: 540px;
		justify-self: end;
	}
	h2 {
		font-size: 40px;
	}
	h5 {
		font-size: 12px;
	}
}

@media(min-width: 768px) {
	.hero-laptop {
		position: absolute;
	}
	.intro {
		grid-column: 1 / -1;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
		justify-items: center;
		background: rgba(243,156,107,0.125);
		margin-top: 120px;
		height: 400px;
	}
	
	.intro-copy {
		max-width: 500px;
		padding: 30px;
		margin: auto;
	}

	.intro img {
		height: 100%;
    	object-fit: cover;
    	width: 100%;
	}

	.buzz {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
		justify-items: center;
		margin: 120px 0 120px 0;
		height: 400px;
	}
	
	.buzz-copy {
		max-width: 500px;
		padding: 30px;
		margin: auto;
	}

	.buzz img {
		height: 100%;
    	object-fit: cover;
	}
	.endblock {
		margin-top: 240px;
	}
	.share-head {
		margin-top: 120px;
	}
}